.navMain {
    padding-left: 65%;
    padding-right: 5%;
    background-color: #181818;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBlock {
    float: right;
}

.navText {
    color: white;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 2px;
    text-decoration: none;
}

.navText:hover {
    color: #27826C;
}

.navText:active {
    position: relative;
    bottom: 3px;
}

.underLine:not(.darkMode) {
    background-color: #27826C;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    height: 3px;
}

/* 이미지 css */
.switchImgDiv {
    float: left;
    position: absolute;
}

.switchImg {
    width: 70px;
    margin-top: 70%;
    margin-left: 70%;
}

.bulbImgDiv {
    position: absolute;
}

.bulbImg {
    width: 80px;
    margin-left: 100vh;
}