.pageTitle {
    width: 100%;
    margin: auto;
}

.pageTitle p {
    margin: 0;
    padding-top: 1%;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 10px;
    color: rgba(245, 222, 179, 0.833);
}