
/* icon move */
.arrowIcon {
    text-align: center;
}

.arrowIcon p {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3;
}

.arrowIcon img {
    width: 60px;
    display: inline-block;
    animation: moveUpDown 1s ease-in-out infinite;
}

@keyframes moveUpDown {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-20px);
    }
    100% {
    transform: translateY(0);
    }
    }

/* content */
.smileDetailTitle {
    margin-top: 1%;
    margin-left: 0.5%;
    font-size: 30px;
    font-weight: 900;
    color: black;
    position: absolute;
    top: -450px;
}

.smileDetailTitle p {
    font-size: 20px;
}

/* team project */
.smileMain {
    position: fixed;
    top: 0;
}

.smileProjectDiv {
    margin-left: 250vh;
    width: 1000vh;
    height: 100vh;
    display: flex;
    /* background: linear-gradient(to right, white, white, yellow, yellow,blue, blue, black, black, white); */
    background: linear-gradient(to right, white, #43B2CA, #43B2CA, #F3DD72, #F3DD72, white);
}
