.aboutMain {
  background-color: #181818;
  height: 90vh;
}

.aboutContant {
  padding: 5% 5% 5% 15%;
  display: flex;
}

/* 본문 이미지 */
.pjyImg {
  width: 25%;
}

.pjyImg img {
  width: 40vh;
}

.showImg {
  position: absolute;
  opacity: 1;
  transition: opacity 1s;
}

.hideImg {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

/* 본문 */
.aboutContantMain {
  width: 75%;
}

.aboutContantTitle {
  margin-left: 5%;
}

.aboutContantTitle span {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

.aboutContantTitle span:nth-of-type(1) {
  animation-delay: 0.7s;
}

.aboutContantTitle span:nth-of-type(2) {
  animation-delay: 1.2s;
}

.aboutContantTitle span:nth-of-type(3) {
  animation-delay: 1.7s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutContantName {
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  color: white;
}

.aboutContantfield {
  margin: 0 0 30px 0;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.314);
}

.aboutContantMBTI {
  margin-left: 5%;
  margin-bottom: 3%;
  justify-content: center;
}

.aboutContantMBTI span {
  margin: 0 1% 0 0;
  padding: 1% 2% 1% 2%;
  border-radius: 25px;
  border: 1px solid #19ffd9;
  font-size: 20px;
  font-weight: 600;
  color: #19ffd9;
}

.aboutBottomText {
  width: 70%;
  margin-left: 5%;
  margin-top: 8%;
  padding: 10px 0px 10px 35px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #373737;
  border-left: 5px solid #19ffd9;
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 2.3s;
}

.aboutBottomText p {
  
}