.contactMain {
    background-color: #181818;
    height: 90vh;
}

.textMain {
    padding-top: 3%;
}

.linkText {
    color: rgb(208, 0, 255);
}

.myinfoText {
    position: relative;
    text-align: center;
}

.firstText {
    color: white;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 15px;
    display: inline-block;
}

.secondText {
    width: 100%;
    position: absolute;
    color: #27826C;
    top: 0%;
    left: 0%;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 15px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s;
}

.hideText {
    opacity: 0;
}

.showText {
    display: inline-block;
    animation: textChange 1s ease-in-out 1 forwards;
    transform-origin: center;
}

@keyframes textChange {
    0% {
        transform: scaleX( 1.0 )
    }
    50%, 100% {
        opacity: 1;

    }
}
 
/* footer */
.footer {
    border-top: 1px solid white;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
}

.footerText {
    margin-top: 0.5%;
    float: left;
    color: white;
    font-size: 20px;
}

.footerImg {
    float: right;
    margin-top: 0.5%;
}

.footerImg img {
    border-radius: 10%;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

/* kakao QR 애니메이션 */
.kakaoQR {
    position: absolute;
    opacity: 0;
}

.kakaoQRShow:not(.footerImg) {
    position: absolute;
    display: inline-block;
    animation: QRshow 1s ease-in-out 1 forwards;
    transform-origin: bottom right;
}

@keyframes QRshow {
    0% {
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(10);
    }
}