.skillMain {
    background-color: #181818;
    height: 90vh;
    padding-left: 10%;
    padding-right: 10%;
}

.logoImg {
    width: 100px;
    border-radius: 10%;
}

.logoImg2 {
    height: 60%;
}

.skillBlock {
    color: white;
    text-align: center;
    margin-top: 5%;
    width: 100%;
}

.bounceLogo {
    display: inline-block;
    animation: rotate 1s ease-in-out 1;
    animation-iteration-count: 1; 
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(50deg);
    }
    30% {
        transform: rotate(-50deg);
    }
    45% {
        transform: rotate(50deg);
    }
    50% {
        transform: rotate(-50deg);
    }
    60% {
    transform: rotate(20deg);
    }
    70% {
        transform: rotate(-20deg);
    }
    80% {
        transform: rotate(10deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.skillTopBox {
    display: flex;
    justify-content: space-around;
}

.logoTitle {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}

.logoContant {
    font-size: 15px;
}