.skillMain {
  background-color: #181818;
  padding-left: 10%;
  padding-right: 10%;

  .logoImg {
    width: 70px;
    border-radius: 10%;
  }

  .skillBox {
    display: flex;
    justify-content: space-around;
  }

  /* TOP 스킬 요소 설정 */
  .skillBlockTOP {
    color: white;
    text-align: center;
    margin-top: 5%;
    width: 100%;
    opacity: 0;
    animation: fade-in 2s forwards;
  }

  /* BOTTOM 스킬 요소 설정 */
  .skillBlockBOTTOM {
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    opacity: 0;
    animation: fade-in 2s forwards;
  }

  /* TOP, BOTTOM 스킬 요소 애니메이션 */
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* TOP 애니메이션 순서 설정 */
  .skillBlockTOP:nth-child(1) {
    animation-delay: 0.5s;
  }

  .skillBlockTOP:nth-child(2) {
    animation-delay: 1s;
  }

  .skillBlockTOP:nth-child(3) {
    animation-delay: 1.5s;
  }

  .skillBlockTOP:nth-child(4) {
    animation-delay: 2s;
  }

  .skillBlockTOP:nth-child(5) {
    animation-delay: 2.5s;
  }

  .skillBlockTOP:nth-child(6) {
    animation-delay: 3s;
  }

  /* BOTTOM 애니메이션 순서 설정 */
  .skillBlockBOTTOM:nth-child(5) {
    animation-delay: 0.5s;
  }

  .skillBlockBOTTOM:nth-child(4) {
    animation-delay: 1s;
  }

  .skillBlockBOTTOM:nth-child(3) {
    animation-delay: 1.5s;
  }

  .skillBlockBOTTOM:nth-child(2) {
    animation-delay: 2s;
  }

  .skillBlockBOTTOM:nth-child(1) {
    animation-delay: 2.5s;
  }

  .logoTitle {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .logoContant {
    font-size: 13px;
  }

  /* 공부 이력 CSS */
  .educationContent {
    .educationList {
      width: 180%;
      display: flex;
    }

    .educationBox {
      width: 100%;
      height: 450px;
      margin: 5% 1% 5% 1%;
      border-radius: 10px;
      background-color: rgb(60, 60, 60);
      opacity: 0.5;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 1;
      }

      .educationTitle {
        padding: 3%;
        display: flex;
        justify-content: space-between;

        .educationTitlePlace {
          margin: 0;
          font-size: 25px;
          font-weight: 500;
          color: white;
        }

        .educationTitleText {
          margin: 0;
          font-size: 40px;
          font-weight: 900;
          color: white;
        }

        .educationTitleDate {
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 5px;
          color: white;
          font-style: italic;
        }
      }

      .educationImg {
        width: 40%;
        margin-left: 5%;

        img {
          width: 180px;
          float: right;
          border-radius: 50%;
        }
      }

      li {
        margin: 2% 5% 2% 1%;
        font-size: 17px;
        color: white;
      }
    }
  }

  /* 스크롤바의 너비와 색상 설정 */
  ::-webkit-scrollbar {
    width: 5px;
    height: 15px;
  }

  ::-webkit-scrollbar-track {
    background-color: #181818;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(245, 222, 179, 0.833);
    border-radius: 5px;
  }

  .scrollTopIcon {
    width: 30px;
    padding: 2%;
    margin: auto;
    animation: scrollButtonAnimation 1s infinite alternate;

    @keyframes scrollButtonAnimation {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(10px);
      }
    }
  }
}